# เปิดโหมด RewriteEngine
RewriteEngine On

# ถ้าไฟล์ดิสคัสไม่ได้เก็บไว้ในซับโฟลเดอร์ กรุณาลบ /discuz ถ้าไฟล์ดิสคัสถูกเก็บไว้ในซับโฟลเดอร์ กรุณาแก้ไข /discuz เป็นชื่อโฟลเดอร์ที่เก็บไฟล์ดิสคัส และหากดิสคัสถูกต้องตั้งใน Root ให้เปลี่ยนค่าเป็น "/"
RewriteBase /

# เงื่อนไข Rewrite ไม่ควรแก้ไขค่าระบบ
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^topic/(.+)$ portal.php?mod=topic&topic=$1&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^article/([0-9]+)/([0-9]+)$ portal.php?mod=view&aid=$1&page=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^forum/(\w+)/([0-9]+)$ forum.php?mod=forumdisplay&fid=$1&page=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^thread/([0-9]+)/([0-9]+)/([0-9]+)$ forum.php?mod=viewthread&tid=$1&extra=page\%3D$3&page=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^group/([0-9]+)/([0-9]+)$ forum.php?mod=group&fid=$1&page=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^space/(username|uid)/(.+)$ home.php?mod=space&$1=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^blog/([0-9]+)/([0-9]+)$ home.php?mod=space&uid=$1&do=blog&id=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(fid|tid)/([0-9]+)$ archiver/index.php?action=$1&value=$2&%1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z]+[a-z0-9_]*)/([a-z0-9_\-]+)$ plugin.php?id=$1:$2&%1