<script id="secure_tpl" type="text/html">
    <div class="manageLayer">
        <img id="secureimg" src="<%= seccode %>">
        <input id="secure" name="secure" type="text" class="sInput sBg" placeholder="CAPTCHA" maxlength="10"/>
        <button id="refreshSecure">ขอรหัสใหม่</button>
        <button id="sendInSecure">ส่ง</button>
    </div>
</script>
<script id="secure_tpl" type="text/html">
    <div class="manageLayer">
		<% if (seccode) { %>
        <div class="verCode">
		<iframe id="secureimg" src="<%= seccode %>"  width="200" height="80" alt="CAPTCHA" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
		</div>
        <div class="verCode"><input id="secure" class="v_input" name="" type="text"  placeholder="CAPTCHA" /></div>
        <% } %>
		<% if (secqaa) {%>
		<div class="verCode">คำถามความปลอดภัย: <span id="secqaa"><%= secqaa %></span></div>
		<div class="verCode"><input id="secanswer" class="v_input" name="secanswer" type="text" placeholder="ตอบคำถามความปลอดภัย" /></div>
		<% } %>
        <div class="editArea">
            <button id="refreshSecure" class="editBtn3 db">ขอรหัสใหม่</button>
            <button id="sendInSecure" class="editBtn4 db">ส่ง</button>
        </div> 
    </div>
</script>