.webuploader-container {
	position: relative;
	background-color: #06C; 
	color: #FFF;
	line-height: 25px;
    border-radius: 3px;
	padding: 0 5px;
	text-align: center;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}

.webuploader-pick{width: 100%;height: 100%;}