{eval 
$icons = array(
	0 => '{lang poke_0}',
	1 => '<img alt="{lang poke_1}" src="'.STATICURL.'image/poke/poke_01.gif" class="vm" /> {lang poke_1}',
	2 => '<img alt="{lang poke_2}" src="'.STATICURL.'image/poke/poke_02.gif" class="vm" /> {lang poke_2}',
	3 => '<img alt="{lang poke_3}" src="'.STATICURL.'image/poke/poke_03.gif" class="vm" /> {lang poke_3}',
	4 => '<img alt="{lang poke_4}" src="'.STATICURL.'image/poke/poke_04.gif" class="vm" /> {lang poke_4}',
	5 => '<img alt="{lang poke_5}" src="'.STATICURL.'image/poke/poke_05.gif" class="vm" /> {lang poke_5}',
	6 => '<img alt="{lang poke_6}" src="'.STATICURL.'image/poke/poke_06.gif" class="vm" /> {lang poke_6}',
	7 => '<img alt="{lang poke_7}" src="'.STATICURL.'image/poke/poke_07.gif" class="vm" /> {lang poke_7}',
	8 => '<img alt="{lang poke_8}" src="'.STATICURL.'image/poke/poke_08.gif" class="vm" /> {lang poke_8}',
	9 => '<img alt="{lang poke_9}" src="'.STATICURL.'image/poke/poke_09.gif" class="vm" /> {lang poke_9}',
	10 => '<img alt="{lang poke_10}" src="'.STATICURL.'image/poke/poke_10.gif" class="vm" /> {lang poke_10}',
	11 => '<img alt="{lang poke_11}" src="'.STATICURL.'image/poke/poke_11.gif" class="vm" /> {lang poke_11}',
	12 => '<img alt="{lang poke_12}" src="'.STATICURL.'image/poke/poke_12.gif" class="vm" /> {lang poke_12}',
	13 => '<img alt="{lang poke_13}" src="'.STATICURL.'image/poke/poke_13.gif" class="vm" /> {lang poke_13}'
); /*jaideejung007*/
}